.body {
    background-color: #f5f5f5;
    height: 100%;
    font-size: 0.8em;
}

.loading {
    z-index: 100;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000dd;
}

.spinner-box {
    position: fixed;
    top: 50%;
    left: 50%;
}

.logo{
    height: 111px;
    width: 134px;
}