// #wrapper {
//   margin-left: 50px;
//   padding: 20px 20px 20px 20px;
//   transition: 1s;
//   background: whitesmoke;
// }

// a label {
//   cursor: pointer;
// }

// // table tr:nth-child(even) {
// //   background: rgb(248, 248, 248);
// // }

// .breadcrumb {
//   width: 100%;
// }

// .edit-items-button {
//   background: skyblue;
//   color: black;
//   font-weight: 600;
//   border-radius: 5px;
//   margin: 4px;
//   padding: 4px;
//   align-items: center;
//   cursor: pointer;
//   display: inline-flex;
// }

// .delete-items-button {
//   background: lightcoral;
//   color: black;
//   font-weight: 600;
//   border-radius: 5px;
//   margin: 4px;
//   padding: 4px;
//   align-items: center;
//   display: inline-flex;
//   cursor: pointer;
// }

// .approve-items-button {
//   background: lightgreen;
//   color: black;
//   font-weight: 600;
//   border-radius: 5px;
//   margin: 4px;
//   align-items: center;
//   padding: 4px;
//   display: inline-flex;
//   cursor: pointer;
// }

// .edit-items-button a {
//   color: black;
//   text-decoration: none;
// }

// .delete-items-button a {
//   color: black;
//   text-decoration: none;
// }

// .component-container {
//   background: rgb(26, 84, 92);
//   padding: 1px;
//   width: 100%;
//   margin-top: 10px;
// }

// .component-container i {
//   padding: 5px;
// }

// .component-content-container {
//   background: white;
//   width: 100%;
//   border: 10px solid;
//   border-color: white;
//   overflow: hidden;
// }

// .component-top-heading-left {
//   color: white;
//   width: 100%;
//   text-align: left;
//   padding: 5px;
//   font-size: 16px;
//   font-weight: 600;
// }

// .component-top-heading-right {
//   color: white;
//   width: 100%;
//   text-align: right;
//   padding: 5px;
//   font-size: 16px;
//   font-weight: 600;
// }

// .component-form label,
// .component-form input,
// .component-form select,
// .component-form i {
//   padding: 5px;
// }

// .component-top-heading-right a {
//   color: white;
//   border: 1px solid;
//   padding: 5px;
//   display: inline-flex;
// }

// .component-table-container {
//   overflow-x: scroll;
// }

// .component-content-container label {
//   padding: 2px;
//   margin-top: 20px;
// }

// .component-content-container select,
// .component-content-container input,
// .component-content-container textarea {
//   width: 40%;
//   padding: 8px;
//   border-radius: 6px;
// }

// .component-content-container input:required,
// .component-content-container select:required {
//   border: 1px solid;
//   border-color: red;
// }

// .component-content-container input:valid,
// .component-content-container select:valid {
//   border: 1px solid;
//   border-color: green;
// }

// .component-button-container {
//   width: 100%;
//   text-align: right;
//   margin-top: 10px;
// }

// @media only screen and (max-width: 575px) {
//   .component-content-container select,
//   .component-content-container input {
//     width: 100%;
//   }
// }

// .watermark-image-container {
//   cursor: pointer;
// }

// .watermark-image {
//   width: 50%;
//   padding: 10px;
//   border: 1px solid;
// }

// .hide-input {
//   display: none;
// }

// // table {
// //   margin-bottom: 10px;
// //   width: 100%;
// // }

// // td,
// // th {
// //   padding: 10px;
// //   border: 1px solid;
// //   border-color: lightgrey;
// // }

// // th {
// //   cursor: pointer;
// //   color: rgb(52, 133, 165);
// //   background: gainsboro;
// // }
// // table.table-bordered > thead > tr > th {
// //   border:1px solid rgb(184, 159, 243) ;
// // }

// // table.table-bordered > tbody > tr > td {
// //   border:1px solid rgb(184, 159, 243);
// // }

// .heading {
//   color: white;
// }

// .row {
//   margin: 0px;
//   width: 100%;
// }

// .label {
//   color: black;
//   margin: 20px 0px 20px 0px;
// }

// textarea {
//   resize: both;
//   margin-top: 5px;
// }

.image-container {
  width: 100%;
  text-align: right;
  z-index: 0;
  position: absolute;
}

.profile-picture {
  max-width: 160px;
  max-height: 140px;
  margin-right: 58px;
}

// .cursor-pointer {
//   cursor: pointer;
// }

// .text-decoration-none{
//   text-decoration: none;
//   color: #000;
// }

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 950px;
  }
}

// Custom Css
.header-fixed .app-header {
  background: rgb(0, 113, 217);
  background: -moz-linear-gradient(
    left,
    rgba(0, 113, 217, 1) 0%,
    rgba(0, 185, 232, 1) 50%,
    rgba(0, 113, 217, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 113, 217, 1) 0%,
    rgba(0, 185, 232, 1) 50%,
    rgba(0, 113, 217, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 113, 217, 1) 0%,
    rgba(0, 185, 232, 1) 50%,
    rgba(0, 113, 217, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071d9', endColorstr='#0071d9',GradientType=1 );
  border-bottom: none;
}
.sidebar {
  background: #fff;
  .nav-link {
    color: #434343;
    &.active {
      color: #fff;
      background: #3893e8;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: #be1e28;
      }
      .nav-icon {
        color: #fff;
      }
    }
    &:hover {
      background: #3893e8;
    }
  }
  .nav-dropdown.open {
    background: #f5f5f5;
    .nav-link {
      color: #434343;
      &:hover {
        color: #fff;
      }
      &.active {
        color: #fff;
      }
    }
  }
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
  color: #fff;
  background: #3893e8;
}
.sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
  background: #f5f5f5;
}
.card {
  border: none;
}
.card-header {
  background-color: #f5f5f5;
  position: relative;
  p {
    margin-bottom: 0;
    font-size: 1rem;
  }
  i {
    margin-right: 5px;
  }
}
.sidebar-minimized .sidebar .sidebar-minimizer {
  background-color: #b2b2b2;
}
.sidebar .sidebar-minimizer:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}
.breadcrumb {
  border-bottom: none;
}
.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

//  Custom tags input

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  &:focus-within {
    border: 1px solid #0052cc;
  }
  input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
    &:focus {
      outline: transparent;
    }
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
  .tag-title {
    margin-top: 3px;
  }
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}

// Notification design
.notification-count {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
}
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main {
  margin-right: 0;
}
html:not([dir="rtl"]) .aside-menu {
  right: 0;
  margin-right: -380px;
}
.aside-menu {
  width: 380px;
}
.notification-list a {
  display: block;
  color: #434343;
  padding: 5px 10px;
  &:hover {
    background-color: #ebedef;
    color: #434343;
  }
  span {
    display: inline-block;
    width: calc(100% - 45px);
    vertical-align: middle;
  }
  .notification-icon {
    margin-right: 15px;
    border-radius: 50%;
    background-color: #f7941d;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    i {
      border: 1px solid #f5f5f5;
      border-radius: 50%;
      padding: 5px;
      margin-top: 2px;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}
