/* .login-container {
  background: slategrey;
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.signup-form-container {
  background: #344147;
  align-self: center;
  text-align: center;
  padding: 30px 20px 15px 20px;
}

#signin-form {
  display: block;
}

#forgotpassword-form {
  display: block;
}

.heading {
  color: white;
}

.heading-forgot {
  color: white;
  display: flex;
}

.copyright-text {
  color: white;
  font-size: 12px;
}

.input-container {
  display: flex;
  width: 100%;
  margin: 15px 0px 15px 0px;
}

.icon {
  color: white;
}

.signin-icon {
  color: white;
  width: 15px;
  margin: 10px;
}

.icon-back {
  font-size: 15px;
  padding: 10px;
  margin-right: 20px;
  font-weight: 100;
  align-self: flex-start;
  cursor: pointer;
}

.icon-back :hover {
  cursor: pointer;
}

.input-field {
  padding: 5px;
  width: 300px;
}

.submit-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.login-button {
  padding: 10px 15px 10px 15px;
  font-weight: 700;
}

.checkbox {
  color: white;
  width: 100%;
  text-align: right;
}

.forgotpassword {
  color: white;
  margin: 10px 10px;
  cursor: pointer;
} */
